/* Colors */

$color-black: #000000;
$color-white: #FFFFFF;
$color-blue--dark: #10101D;
$color-grey--dark: #272733;
$color-grey--thin: #3d4050;
$color-blue: #42A9ED;
$color-blue--light: #3E9CDC;
$color-blue--middle: #286690;
$color-grey--middle: #3D4050;
$color-grey: #C3C3C3;
$color-grey--light: #707070;

/* Fonts */
$font-lato: 'Lato', sans-serif;
$font-raleway: 'Raleway', sans-serif;
$font-tahoma: 'Tahoma', sans-serif;
